.admin{
    height: auto;
    width: auto;
    border-radius: 0px;
}
.admin:hover{
    border-radius: -40px;
}
.td{
    font-size: 20px;
    padding: 1px;
    text-align: center;
}
table{
    margin-bottom: 2%;
    margin-top: 6%;
    margin-left: 20%;
    border-radius: 25px;
    
}
#idtable{
    border: 0 1px 1px 0 solid rgb(0, 0, 0);
    
}
table {
    border-collapse: collapse;
  }
  table td, table th {
    border: 1px solid black;
  }
  table tr:first-child th {
    border-top: 0;
  }
  table tr:last-child td {
    border-bottom: 0;
  }
  table tr td:first-child,
  table tr th:first-child {
    border-left: 0;
  }
  table tr td:last-child,
  table tr th:last-child {
    border-right: 0;
  }
#textarea{
    border-radius: 8px;
    text-align: center;
    width: 225px;
    font-size: 20px;
    padding-bottom: 0;
    resize: none;
}
#logged{
    padding-right: 100%;
}
#button-logged{
    border: 1px solid rgb(20, 167, 252);
    font-size: 20px;
    margin-left: 60px;
    width: 100px;
    color: rgb(20, 167, 252);
    cursor: pointer;
    margin-top: 10px;
    padding: 2px 0px 2px 0px;
    border-bottom: 4px solid rgb(13, 110, 167);
    font-weight: 700;
    border-radius: 5px;
    font-family: cursive;
    margin-right: -5%;
}
#button-logeed:hover{
    background-color: rgb(218, 218, 218); 
}
#button-logged:active{
    border-bottom: 1px solid rgb(20, 167, 252);
    margin-top: 14px;
    transition: 0.1s;
    margin-bottom: -1px;
}