#discord{
    margin-top: 40px;
}
#discord .redes{
    border-radius: 30px;
}
#home{
    margin-left: 7.3%;
    margin-right: 7.5%;
}
#login-text{
    margin-left: 7.5%;
    margin-right: 7.5%;
}
#messages{
    margin-left: 7.5%;
    margin-right: 7.5%;
}
#about-us{
    margin-left: 7.5%;
    margin-right: 7.5%;
}