.messages-container .message1{
    margin: 200px 0 0 40px;
    background-color: #fff740;
    width: 350px;
    height: 350px;
}
.messages-container .message2{
    margin: 200px 0 0 40px;
    background-color: #fff740;
    width: 350px;
    height: 350px;
}
.messages-container .message3{
    margin: 200px 0 0 40px;
    background-color: #fff740;
    width: 350px;
    height: 350px;
}
.messages-container .message4{
    margin: 200px 0 0 40px;
    background-color: #fff740;
    width: 350px;
    height: 350px;
}
.messages-container .message5{
    margin: 200px 0 0 40px;
    background-color: #fff740;
    width: 350px;
    height: 350px;
}