.messages-container{
    font-size: larger;
}

.messages-container .message1{
    margin: 6% 0 0 40px;
    background-color: #fff740;
    width: 350px;
    height: 350px;
    float: left;
    text-align: center;
}
.messages-container .message2{
    margin: 6% 2% 0 40px;
    background-color: #fff740;
    width: 350px;
    height: 350px;
    float: right;
    text-align: center;
}
.messages-container .message3{
    margin: 6% -0.75% 0 10%;
    background-color: #fff740;
    width: 350px;
    height: 350px;
    float: right;
    text-align: center;
}
.messages-container .message4{
    margin: 6% 0 0 1%;
    background-color: #fff740;
    width: 350px;
    height: 350px;
    float: left;
    text-align: center;
}
.messages-container .message5{
    margin: -30.5% 40.85% 10% 40px;
    background-color: #fff740;
    width: 350px;
    height: 350px;
    float: right;
    text-align: center;
}
h3{
    font-size: 25px;
}