* {
    box-sizing: border-box;
    margin: 0;
}
img{
    width: 100%;
    background-repeat: repeat-y;
}

.text a {
    border: 2px solid rgba(0,0,0,0.5);
    border-radius: 5px;
    padding: 1rem 2rem;
    display: inline-block;
    font-family: Verdana;
    letter-spacing: -1px;
    user-select: none;
    color: black;
    cursor: pointer;
    text-decoration: none;
}
a img{
    height: 40px;
}
#discord{
    margin-top: 40px;
}
li img{
    width: auto;
    float: right;
    position: fixed;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-top: -12px;
    margin-left: 170px;
}
/*
    AJEITAR: 98px
*/
img:hover{
    margin-left: 168px;
}

.text a:hover {
    border: 2px solid #000;
    box-shadow: #000 0px 0px 10px 1px inset,#000 0px 0px 10px 1px;
}

header{
    background-image: url("../image/background-menu.webp");
    background-size: auto;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
}
ul{
    height: 95px;
    list-style-type: none;
}

li img{
    float: right;
    margin-bottom: 20px;
}
#home{
    margin-left: 10%;
    margin-right: 7.5%;
}
#login-text{
    margin-left: 7.5%;
    margin-right: 7.5%;
}
#messages{
    margin-left: 7.5%;
    margin-right: 7.5%;
}
#about-us{
    margin-left: 7.5%;
    margin-right: 5%;
}
li{
    float: left;
    margin: 15px 0px 20px 0px;
    font-size: larger;
    text-decoration: none;
    border-radius: 3px;
}
li .text :hover{
    background-color: #080808;
    border-radius: 15px;
}

input{
    width: 225px;
    border-radius: 8px;
    padding: 6px;
    margin-bottom: 10px;
    font-size: 20px;  
    text-align: center;
    
}
#button-login{
    border: 1px solid rgb(20, 167, 252);
    font-size: 20px;
    margin-left: 60px;
    width: 100px;
    color: rgb(20, 167, 252);
    cursor: pointer;
    margin-top: 10px;
    padding: 2px 0px 2px 0px;
    border-bottom: 4px solid rgb(13, 110, 167);
    font-weight: 700;
    border-radius: 5px;
    font-family: cursive;
}

#button-login:hover{
    background-color: rgb(218, 218, 218); 
}
#button-login:active{
    border-bottom: 1px solid rgb(20, 167, 252);
    margin-top: 14px;
    transition: 0.1s;
    margin-bottom: -1px;
}
::placeholder{
    font-family: cursive;
}
form{
    margin: 0px 900px 0px 750px;
    background-color:#ff65a3;
    padding: 10px 27px 25px 20px;
    width: 400px;
    height: 400px;
    font-family: cursive;
}
#h2{
    margin-bottom: 10px;
    text-align: center;
    padding-top: 2px;
    font-size: 35px;
}
#login{
    margin-top: 10%;
    margin-bottom: 108px;
}

table td,th{
    padding: 50px;
    border: 1px solid rgb(0, 0, 0);
    
}
table{
    font-size: 25px;
    align-items: center;
    border-collapse: collapse;
    border-left: 50px;
}

#log-id{
    font-size: 20px;
}
.title{
    font-size: larger;
}
.text-box-container{
    text-align: center;
    font-size: large;
    font-size: x-large; 
    font-family:cursive,Arial;
    margin-top: 100px;
}
#text-box-left{
    background-color: #ff65a3;
    width: 400px;
    height: 400px;
    float: right;
    margin-top: 33px;
    margin-right: 550px;
    padding: 1px 20px 50px 20px;
}
.text-box{
    margin-top: 20px;
    text-align: start;
}
#text-box-right{
    background-color: #fff740;
    margin-left: 550px;
    width: 400px;
    height: 400px;
    padding: 1px 20px 23px 20px;
}
#discord .redes{
    border-radius: 30px;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    color: #ffffff;
}
body{
    background-image: url("../image/background.jpg");
}
.we{
    background-color: #fff740;
    width: 400px;
    height: 400px;
    margin: 150px 20% 0 35%;
    font-family:cursive ;
}
.sticker{
    position: absolute;
    left: 740px;
    top: 170px;
    color: #ffffff;
    background-color: #ffffff;
    width: 250px;
    height: 50px;
    opacity: 0.3;
}
.sticker-login{
    position: absolute;
    top: 165px;
    left: 810px;
    color: #ffffff;
    background-color: #ffffff;
    width: 250px;
    height: 50px;
    opacity: 0.3;
}
.sticker-content-1{
    position: absolute;
    left: 620px;
    top: 110px;
    color: #ffffff;
    background-color: #ffffff;
    width: 250px;
    height: 50px;
    opacity: 0.3;
}
.sticker-content-2{
    position: absolute;
    left: 1040px;
    top: 105px;
    color: #ffffff;
    background-color: #ffffff;
    width: 250px;
    height: 50px;
    opacity: 0.3;
}
.sticker-aboutus{
    position: absolute;
    left: 750px;
    top: 120px;
    color: #ffffff;
    background-color: #ffffff;
    width: 250px;
    height: 50px;
    opacity: 0.3;
}